<% include partials/header.ejs %>
<div class="table-wrapper">
<div class="container">
	<div class="row">
	<div class="col-md-4">
	
	</div>
	<div class="col-md-4">
	<% players.forEach((player, index) => { %>
	<div class="userbox">
	<img src="/assets/img/aaaa.jpeg" class="player-img userimage" alt="">
	<div class="friendname">Sourav Singh</div>
	<div class="add-friend">	
	<button type="button" value="add" class="addfriend">Add Friend</button>
	</div>

	</div>
	 <% }) %>
	</div>
	<div class="col-md-4">

	</div>
</div>
	</div>
</div>